@import '../../styles/mixins';
@import '../../styles/variables';

.pagination {
  position: relative;
  width: 120px;
  @media (max-width: 768px) {
    position: absolute;
    top: -16px;
    left: -100px;
    margin: 0;
    width: 56px;
    height: 56px;
  }

  .pageCounter {
    text-align: left;
    line-height: 18px;
    @include text($mainTitleColor, $headerFont, 0.7rem, 400);
    margin-bottom: 20px;
    @media (max-width: 768px) {
      margin-bottom: 4px;
    }
  }

  .btnContainer {
    @include flexStyle(row, space-between, center);
  }
}