@import 'src/styles/variables';
@import 'src/styles/mixins';

.container {
  background-color: $backgroundColor;
  width: 100vw;

  .content_container {
    margin-left: 16.6%;
    width: 75%;
    position: relative;
    @media (max-width: 768px) {
      width: 87.5%;
      margin: 0 auto;
    }

    &:before {
      @include pseudoEl();
      @include vector(0, 0);
    }

    &:after {
      @include pseudoEl();
      @include vector(100%, 0);
    }

    .inner_content_container {
      min-height: 100vh;
      position: relative;

      &:before {
        @include pseudoEl();
        @include vector(50%, 0);
      }
      &:after {
        @include pseudoEl();
        @include vectorHorizon(0, $heightCenter);
        @media (max-width: 768px) {
          top: 293px;
        }
      }
      @media (max-width: 768px) {
        height: 100vh;;
      }
    }
  }
}