$textColor: #42567A;
$mainTitleColor: #42567A;
$borderColor: rgba(66, 86, 122, 0.1);
$darkBorderColor: #181831;
$secondTitleColor: #3877EE;
$backgroundColor: #E5E5E5;
$accentColor: #5D5FEF;
$accent2Color: #ef5da8;
$heightCenter: 480px;

$mainFont : 'Bebas Neue', sans-serif;
$baseFont : 'Poppins', sans-serif;
$headerFont: 'PT Sans', sans-serif;