@import '../../../styles/variables';
@import '../../../styles/mixins';

.divContainer {
  @include sizeBlock(487px, 134px);
  @include position(absolute, 170px, 0);
  padding-left: 78px;
  @media screen and (max-width: 1162px) {
    top: 150px;
  }
  @media (max-width: 768px) {
    position: static;
    @include sizeBlock(130px, 35px);
    padding: 59px 0;
    margin-bottom: 59px;
  }

  &:before {
    content: '';
    @include vector(0, 10px);
    @include gradient();
    height: 120px;
  }

  .title {
    @include text($mainTitleColor, $headerFont, 2.8rem, 700) ;
    line-height: 67px;
    text-align: left;
    letter-spacing: -0.01em;
    @media (max-width: 768px) {
      font-size: 1.2rem;
      line-height: 120%;
    }
    @media (max-width: 400px) {
      font-size: 1rem;
      line-height: 120%;
    }
  }
}